# Ambiente virtual
myenv/
venv/
.env/

#Criptografia
.key

# Python
__pycache__/
*.pyc
*.pyo

# Vídeos e dados brutos
*.avi
*.mov

# Shell / configs locais
*.cfg
*.csh
*.ps1

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
.env

# ignora tudo dentro de models
models/*

# EXCETO os arquivos necessários
!models/model.pkl
!models/label_map.pkl